@charset "UTF-8";

.app-sidebar {
    background-color: #2b3c53 !important;
}

.sidebar-brand .brand-link .brand-image {
    max-height: 3rem;
}

.login-logo img {
    max-height: 7rem;
}

.card-footer {
    border-top: 0;
    background-color: #fff;
}

/* tabulator */
.tabulator .tabulator-footer {
    background-color: #fff;
}
.tabulator .tabulator-footer .tabulator-footer-contents {
    justify-content: center;
}
.tabulator .tabulator-footer .tabulator-paginator {
    text-align: center;
}
.tabulator-row .tabulator-cell a {
    color: inherit;
    text-decoration: none;
}
.tabulator-row.tabulator-row-even {
    background-color: transparent;
}
.tabulator-row.tabulator-selectable:hover {
    background-color: transparent;
    cursor: default;
}

/* image board */
.img-board .tabulator-cell,
.img-board .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    display: inline-flex;
    align-items: center;
}
.img-board .tabulator-cell {
    border-top: 1px solid #aaa;
}
.img-board .tabulator-cell.align-center {
    justify-content: center;
}

