@charset "UTF-8";

.app-sidebar {
    background-color: #2b3c53 !important;
}

.sidebar-brand .brand-link .brand-image {
    max-height: 3rem;
}

.login-logo img {
    max-height: 7rem;
}

.card-footer {
    border-top: 0;
    background-color: #fff;
}

.page-title-info {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

/* tabulator */
.tabulator .tabulator-footer {
    background-color: #fff;
}
.tabulator .tabulator-footer .tabulator-footer-contents {
    justify-content: center;
}
.tabulator .tabulator-footer .tabulator-paginator {
    text-align: center;
}
.tabulator-row .tabulator-cell a {
    color: inherit;
    text-underline-offset: 4px;
}
.tabulator-row.tabulator-row-even,
.tabulator-row.tabulator-selected {
    background-color: transparent;
}
.tabulator-row.tabulator-selectable:hover {
    background-color: transparent;
    cursor: default;
}
.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    border-right: 0;
}
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left {
    border-right: 0;
}

/* page-count */
.page-count {}
.page-count span > span {
    padding-left: 10px;
}
.page-count span > span::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    background: var(--bs-gray-dark);
    vertical-align: middle;
}
.page-count span > span ~ span {
    margin-left: 14px;
}

/* image board */
.img-board .tabulator-cell,
.img-board .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    display: inline-flex;
    align-items: center;
    border-right: 0;
}
.img-board .tabulator-cell {
    justify-content: center;
}

/* table-border-bottom (게시판 상세) */
.table-border-top {
    border-top: 1px solid var(--bs-table-border-color);
}
.table-border-top > tbody > tr > th,
.table-border-top > tbody > tr > td {
    padding: 1rem 1rem;
}

/* move-table (tabulator drag & drop) */
.tabulator.move-table .tabulator-row .tabulator-cell {
    cursor: grabbing;
}
.tabulator.move-table .tabulator-row.tabulator-moving {
    cursor: grabbing;
}

/* flatpicker */
.flatpickr-wrapper {
    display: flex;
    justify-content: space-between;
}
.flatpickr-wrapper input {
   width: calc(100% - 40px);
   height: 38px;
   padding-left: 10px; 
   border: 0;
   outline: 0;
}
.flatpickr-wrapper .calendar-btn {
  background: none;
  border: none;
  /* padding: 8px 12px; */
  cursor: pointer;
  color: #666;
}