@charset "utf-8";

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-100.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-100.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-200.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-200.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-300.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-300.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-400.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-500.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-500.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-600.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-600.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-700.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-800.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-800.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/noto-sans-kr-v39-korean-900.woff2) format("woff2"),
       url(../font/noto-sans-kr-v39-korean-900.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}