@charset "utf-8";

/* ==========================================
   기본 스타일 & 모바일 (Mobile)
   - 기준 해상도: 360px
   ========================================== */
/* youtube player */
.youtube-player {
    width: 100%;
    aspect-ratio: 4/3;
    margin-top: 4rem;
}

/* aicc */
.aicc-cont1 .box-cont {
    padding-top: 13rem;
    background-repeat: no-repeat;
    background-position: center top 3rem;
    background-image: url(../img/business/bg_aicc_con1_01.svg);
    background-size: 8rem;
}

.aicc-cont1 div:nth-of-type(2) .box-cont {
    background-image: url(../img/business/bg_aicc_con1_02.svg);
}

.aicc-cont1 div:nth-of-type(3) .box-cont {
    background-image: url(../img/business/bg_aicc_con1_03.svg);
}

.aicc-cont2>div>div {
    padding-bottom: 13rem;
    background-repeat: no-repeat;
    background-position: center bottom 3rem;
    background-size: 8rem;
    background-image: url(../img/business/bg_aicc_con2_01.svg);
}

.aicc-cont2:nth-of-type(2)>div>div {
    background-image: url(../img/business/bg_aicc_con2_02.svg)
}

.aicc-cont2:nth-of-type(3)>div>div {
    background-image: url(../img/business/bg_aicc_con2_03.svg)
}

.aicc-cont3 .box-cont {
    padding: 2.4rem 1rem .8rem;
}

.aicc-cont3 .box-cont p {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.aicc-cont3 .box-cont .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem .8rem;
}

.aicc-cont3 .box-cont .service-list div {
    flex-basis: calc(50% - .8rem);
    min-height: 14.7rem;
    padding-top: 10rem;
    border: 1px solid var(--border-default);
    font-size: 1.8rem;
    text-align: center;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center top 3rem;
    background-image: url(../img/business/bg_aicc_cont3_01.svg);
    background-size: auto 6rem;
}

.aicc-cont3 .box-cont .service-list div:nth-of-type(2) {
    background-image: url(../img/business/bg_aicc_cont3_02.svg);
}

.aicc-cont3 .box-cont .service-list div:nth-of-type(3) {
    background-image: url(../img/business/bg_aicc_cont3_03.svg);
}

.aicc-cont3 .box-cont .service-list div:nth-of-type(4) {
    background-image: url(../img/business/bg_aicc_cont3_04.svg);
}

.aicc-cont4 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
    padding: 4rem 2rem;
    background-color: var(--bg-surface);
}

.aicc-cont4 .img-cont {
    text-align: center;
}

.aicc-cont4 img {
    width: 16rem;
}

.aicc-cont4 .txt-cont p {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.aicc-cont4 .txt-cont li {
    position: relative;
    padding-left: 1.4rem;
}

.aicc-cont4 .txt-cont li::before {
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 0;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: var(--text-body);
}

.aicc-cont5>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.aicc-cont5>div>div {
    border-style: solid;
    padding: 13rem 0 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top 3rem;
    background-size: auto 8rem;
    background-image: url(../img/business/bg_aicc_cont5_01.svg);
}

.aicc-cont5>div>div:nth-of-type(2) {
    background-image: url(../img/business/bg_aicc_cont5_02.svg);
}

.aicc-cont5>div>div:nth-of-type(3) {
    background-image: url(../img/business/bg_aicc_cont5_03.svg);
}

.aicc-cont6 .box-cont {
    padding-top: 3rem;
}

/* aws */
.aws-cont2 .box-cont {
    padding-top: 13rem;
    background-repeat: no-repeat;
    background-position: center top 3rem;
    background-size: 8.6rem auto;
    background-image: url(../img/business/bg_aws_cont2_01.svg);
}

.aws-cont2 div:nth-of-type(2) .box-cont {
    background-image: url(../img/business/bg_aws_cont2_02.svg);
}

.aws-cont2 div:nth-of-type(3) .box-cont {
    background-image: url(../img/business/bg_aws_cont2_03.svg);
}

.aws-cont4>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.aws-cont6 .box-cont {
    padding: .8rem;
}

.aws-cont6 .box-cont .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem .8rem;
}

.aws-cont6 .box-cont .service-list div {
    flex-basis: calc(50% - .8rem);
    min-height: 15.2rem;
    padding: 10rem 1rem 0;
    border: 1px solid var(--border-default);
    font-size: 1.4rem;
    text-align: center;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center top 3rem;
    background-image: url(../img/business/bg_aws_cont6_01.svg);
    background-size: auto 6rem;
}

.aws-cont6 .box-cont .service-list div:nth-of-type(2) {
    background-image: url(../img/business/bg_aws_cont6_02.svg);
}

.aws-cont6 .box-cont .service-list div:nth-of-type(3) {
    background-image: url(../img/business/bg_aws_cont6_03.svg);
}

.aws-cont6 .box-cont .service-list div:nth-of-type(4) {
    background-image: url(../img/business/bg_aws_cont6_04.svg);
}

/* msazure */
.msazure-cont1>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.msazure-cont1>div>div {
    padding: 2rem;
    text-align: center;
}

.msazure-cont1 .box-tit {
    font-size: 2.4rem;
}

.msazure-cont1 .box-cont {
    font-size: 1.6rem;
}

.msazure-cont2>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.msazure-cont2>div>div {
    padding: 2rem;
}

.msazure-cont2 .box-cont {
    display: flex;
    align-items: center;
    min-height: 5rem;
    padding-left: 6.6rem;
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 5rem auto;
    background-image: url(../img/business/bg_msazure_cont2_01.svg);
}

.msazure-cont2>div>div:nth-of-type(2) .box-cont {
    background-image: url(../img/business/bg_msazure_cont2_02.svg);
}

.msazure-cont2>div>div:nth-of-type(3) .box-cont {
    background-image: url(../img/business/bg_msazure_cont2_03.svg);
}

.msazure-cont2>div>div:nth-of-type(4) .box-cont {
    background-image: url(../img/business/bg_msazure_cont2_04.svg);
}

.msazure-cont4>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.msazure-cont5 .box-cont {
    padding: 3rem 2rem
}

.msazure-cont6>div {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem 1rem;
}

.msazure-cont6>div>div {
    flex-basis: calc(50% - 1rem);
    padding: 9.6rem 0 2rem;
    font-size: 1.4rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top 2.4rem;
    background-size: 7rem 6rem;
    background-image: url(../img/business/bg_msazure_cont6_01.svg);
}

.msazure-cont6>div>div:nth-of-type(2) {
    background-image: url(../img/business/bg_msazure_cont6_02.svg);
}

.msazure-cont6>div>div:nth-of-type(3) {
    background-image: url(../img/business/bg_msazure_cont6_03.svg);
}

.msazure-cont6>div>div:nth-of-type(4) {
    background-image: url(../img/business/bg_msazure_cont6_04.svg);
}

.msazure-cont8 .box-cont {
    padding: 3rem 2rem;
}

/* powerPlatform */
.powerPlatform-cont1>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.powerPlatform-cont1>div>p {
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.powerPlatform-cont1>div>div {
    padding: 1.6rem 2rem 1.6rem 8.6rem;
    background-repeat: no-repeat;
    background-position: left 2rem center;
    background-size: 5rem;
    background-image: url(../img/business/bg_powerPlatform_cont1_01.svg);
}

.powerPlatform-cont1 .box-tit {
    margin-bottom: .5rem;
    font-size: 1.8rem;
    color: var(--text-body);
}

.powerPlatform-cont1 .box-cont {
    font-size: 1.4rem;
}

.powerPlatform-cont1>div>div:nth-of-type(2) {
    background-image: url(../img/business/bg_powerPlatform_cont1_02.svg);
}

.powerPlatform-cont1>div>div:nth-of-type(3) {
    background-image: url(../img/business/bg_powerPlatform_cont1_03.svg);
}

.powerPlatform-cont1>div>div:nth-of-type(4) {
    background-image: url(../img/business/bg_powerPlatform_cont1_04.svg);
}

.powerPlatform-cont1>div>div:nth-of-type(5) {
    background-image: url(../img/business/bg_powerPlatform_cont1_05.svg);
}

.powerPlatform-cont2>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.powerPlatform-cont2>div>div {
    padding: 1.6rem 2rem 1.6rem 8.6rem;
    background-repeat: no-repeat;
    background-position: left 2rem center;
    background-size: 5rem auto;
    background-image: url(../img/business/bg_powerPlatform_cont2_01.svg);
}

.powerPlatform-cont2 .box-tit {
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
}

.powerPlatform-cont2 .box-cont {
    font-size: 1.4rem;
}

.powerPlatform-cont2>div>div:nth-of-type(2) {
    background-image: url(../img/business/bg_powerPlatform_cont2_02.svg);
}

.powerPlatform-cont2>div>div:nth-of-type(3) {
    background-image: url(../img/business/bg_powerPlatform_cont2_03.svg);
}

.powerPlatform-cont2>div>div:nth-of-type(4) {
    background-image: url(../img/business/bg_powerPlatform_cont2_04.svg);
}

.powerPlatform-cont2>div>div:nth-of-type(5) {
    background-image: url(../img/business/bg_powerPlatform_cont2_05.svg);
}

.powerPlatform-cont2>div>div:nth-of-type(6) {
    background-image: url(../img/business/bg_powerPlatform_cont2_06.svg);
}

.powerPlatform-cont3 .box-cont {
    padding: 12rem 2rem 3rem;
    background-repeat: no-repeat;
    background-position: center top 3rem;
    background-size: 6rem auto;
    background-image: url(../img/business/bg_powerPlatform_cont3_01.svg);
}

.powerPlatform-cont3>div:nth-of-type(2) .box-cont {
    background-image: url(../img/business/bg_powerPlatform_cont3_02.svg);
}

.powerPlatform-cont3>div:nth-of-type(3) .box-cont {
    background-image: url(../img/business/bg_powerPlatform_cont3_03.svg);
}

.powerPlatform-cont3>div:nth-of-type(4) .box-cont {
    background-image: url(../img/business/bg_powerPlatform_cont3_04.svg);
}

.powerPlatform-cont5>div {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.powerPlatform-cont5 .box-tit {
    margin-bottom: 1rem;
}

.powerPlatform-cont5 .box-cont {
    font-size: 1.6rem;
}

/* ==========================================
   태블릿 구간 (Tablet) - 768px 이상
   - 기준 해상도: 768px
   ========================================== */
@media (min-width: 1025px) and (max-width: 1366px) {

    /* youtube player */
    .youtube-player {
        aspect-ratio: 16/9;
        margin-top: 6rem;
    }

    /* aicc */
    .cont-type1.aicc-cont1 .box-cont {
        padding-top: 16rem;
        background-size: 10rem;
    }

    .aicc-cont2>div>div {
        padding-bottom: 4rem;
        background-position: right 8rem center;
        background-size: 10rem;
    }

    .aicc-cont3>div {
        width: 100%;
    }

    .aicc-cont3 .box-cont {
        padding: 4rem;
    }

    .aicc-cont3 .box-cont p {
        margin-bottom: 4rem;
        font-size: 3rem;
    }

    .aicc-cont3 .box-cont .service-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .aicc-cont3 .box-cont .service-list div {
        flex-basis: calc(25% - 2rem);
        min-height: 26rem;
        padding-top: 18rem;
        font-size: 2.4rem;
        background-position: center top 6rem;
        background-image: url(../img/business/bg_aicc_cont3_01.svg);
        background-size: auto 10rem;
    }

    .aicc-cont4 {
        flex-direction: row;
        align-items: center;
        gap: 6rem;
        padding: 6rem 7rem;
    }

    .aicc-cont4 .txt-cont p {
        font-size: 3rem;
    }

    .aicc-cont5>div {
        flex-direction: row;
        gap: 2rem;
    }

    .aicc-cont5>div>div {
        flex: 1;
        /* flex-basis: calc(33.3% - 2rem); */
        padding: 17rem 0 5rem;
        font-size: 2.4rem;
        background-position: center top 5rem;
        background-size: auto 10rem;
    }

    .aicc-cont6 .box-cont {
        padding-top: 4rem;
    }

    /* aws */
    .aws-cont2 .box-cont {
        padding-top: 16rem;
        background-size: 10.8rem auto;
    }

    .aws-cont4>div {
        flex-direction: row;
        gap: 2rem;
    }

    .aws-cont4>div>div {
        flex: 1;
    }

    .cont-txt:has(+ .btn-shortcut.aws1) {
        padding-top: 1.5rem;
    }

    .aws2 {
        margin-top: 2rem;
    }

    .aws-cont6>div {
        width: 100%;
    }

    .aws-cont6 .box-cont {
        padding: 4rem;
    }

    .aws-cont6 .box-cont p {
        margin-bottom: 4rem;
        font-size: 3rem;
    }

    .aws-cont6 .box-cont .service-list {
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .aws-cont6 .box-cont .service-list div {
        /* flex-basis: calc(25% - 2rem); */
        flex: 1;
        min-height: 26rem;
        padding: 17rem 5rem 0;
        font-size: 2.4rem;
        background-position: center top 4rem;
        background-size: auto 10rem;
    }

    /* msazure */
    .msazure-cont1>div {
        flex-direction: row;
        gap: 2rem;
    }

    .msazure-cont1>div>div {
        flex: 1;
        padding: 4rem;
    }

    .msazure-cont1 .box-tit {
        font-size: 3.4rem;
    }

    .msazure-cont1 .box-cont {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .msazure-cont2>div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .msazure-cont2>div>div {
        flex-basis: calc(50% - 2rem);
        padding: 3rem 4rem;
    }

    .msazure-cont2 .box-cont {
        min-height: 8rem;
        padding-left: 12rem;
        font-size: 2rem;
        background-size: 10rem auto;
    }

    .msazure-cont4>div {
        gap: 2rem;
    }

    .msazure-cont5 .box-cont {
        padding: 4rem 3rem
    }

    .msazure-cont6>div {
        flex-wrap: no-wrap;
        gap: 0 2rem;
    }

    .msazure-cont6>div>div {
        flex: 1;
        height: 26rem;
        padding: 14.6rem 0 2rem;
        font-size: 2.4rem;
        background-position: center top 3rem;
        background-size: 10rem 10rem;
    }

    .msazure-cont8 .box-cont {
        padding: 4rem 3rem;
    }

    /* powerPlatform */
    .powerPlatform-cont1>div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 4rem 4rem;
    }

    .powerPlatform-cont1>div>p {
        flex-basis: 100%;
        margin-bottom: 0;
        padding-top: 0;
        font-size: 3.2rem;
    }

    .powerPlatform-cont1>div>div {
        flex: 1;
        padding: 13rem 0 4rem;
        text-align: center;
        background-position: center top 4rem;
        background-size: 7rem;
    }

    .powerPlatform-cont1 .box-tit {
        margin-bottom: 2rem;
        font-size: 2.4rem;
        line-height: initial;
    }

    .powerPlatform-cont1 .box-cont {
        font-size: 2rem;
        line-height: initial;
    }

    .powerPlatform-cont2>div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .powerPlatform-cont2>div>div {
        flex-basis: calc(33.3% - 2rem);
        padding: 3rem 4rem 3rem 16rem;
        background-repeat: no-repeat;
        background-position: left 4rem center;
        background-size: 10rem auto;
    }

    .powerPlatform-cont2 .box-tit {
        margin-bottom: 1rem;
        font-size: 2.4rem;
    }

    .powerPlatform-cont2 .box-cont {
        font-size: 2rem;
    }

    .powerPlatform-cont3 {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .powerPlatform-cont3>div {
        flex: 1 1 calc(50% - 3rem);
    }

    .powerPlatform-cont3 .box-cont {
        padding: 4rem 3rem 5rem 16rem;
        background-position: left 4rem center;
        background-size: 8rem auto;
    }

    .powerPlatform-cont3>div:nth-of-type(1) .box-cont {
        background-size: 9.rem auto;
    }

    .powerPlatform-cont5>div {
        gap: 2rem;
    }

    .powerPlatform-cont5>div>div {
        display: flex;
        align-items: center;
        padding: 3rem 6rem;
    }

    .powerPlatform-cont5 .box-tit {
        position: relative;
        width: 34rem;
        margin-bottom: 0;
    }

    .powerPlatform-cont5 .box-tit::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1.9rem;
        height: 5rem;
        background: url(../img/business/bg_powerPlatform_cont5_tit.svg) no-repeat;
        background-size: 100%;
    }

    .powerPlatform-cont5 .box-cont {
        width: calc(100% - 34rem);
        padding-left: 5rem;
        font-size: 2rem;
    }
}

/* ==========================================
   PC / 데스크톱 구간 (PC) - 1440px 이상
   - PC는 화면이 너무 커지므로 rem(또는 px) 고정값 사용
   ========================================== */
@media (min-width: 1440px) {

    /* youtube player */
    .youtube-player {
        aspect-ratio: 16/9;
        margin-top: 6rem;
    }

    /* aicc */
    .cont-type1.aicc-cont1 .box-cont {
        padding-top: 16rem;
        background-size: 10rem;
    }

    .aicc-cont2>div>div {
        padding-bottom: 4rem;
        background-position: right 8rem center;
        background-size: 10rem;
    }

    .aicc-cont3>div {
        width: 100%;
    }

    .aicc-cont3 .box-cont {
        padding: 4rem;
    }

    .aicc-cont3 .box-cont p {
        margin-bottom: 4rem;
        font-size: 3rem;
    }

    .aicc-cont3 .box-cont .service-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .aicc-cont3 .box-cont .service-list div {
        flex-basis: calc(25% - 2rem);
        min-height: 26rem;
        padding-top: 18rem;
        font-size: 2.4rem;
        background-position: center top 6rem;
        background-image: url(../img/business/bg_aicc_cont3_01.svg);
        background-size: auto 10rem;
    }

    .aicc-cont4 {
        flex-direction: row;
        align-items: center;
        gap: 6rem;
        padding: 6rem 7rem;
    }

    .aicc-cont4 .txt-cont p {
        font-size: 3rem;
    }

    .aicc-cont5>div {
        flex-direction: row;
        gap: 2rem;
    }

    .aicc-cont5>div>div {
        flex: 1;
        /* flex-basis: calc(33.3% - 2rem); */
        padding: 17rem 0 5rem;
        font-size: 2.4rem;
        background-position: center top 5rem;
        background-size: auto 10rem;
    }

    .aicc-cont6 .box-cont {
        padding-top: 4rem;
    }

    /* aws */
    .aws-cont2 .box-cont {
        padding-top: 16rem;
        background-size: 10.8rem auto;
    }

    .aws-cont4>div {
        flex-direction: row;
        gap: 2rem;
    }

    .aws-cont4>div>div {
        flex: 1;
    }

    .cont-txt:has(+ .btn-shortcut.aws1) {
        padding-top: 1.5rem;
    }

    .aws2 {
        margin-top: 2rem;
    }

    .aws-cont6>div {
        width: 100%;
    }

    .aws-cont6 .box-cont {
        padding: 4rem;
    }

    .aws-cont6 .box-cont p {
        margin-bottom: 4rem;
        font-size: 3rem;
    }

    .aws-cont6 .box-cont .service-list {
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .aws-cont6 .box-cont .service-list div {
        /* flex-basis: calc(25% - 2rem); */
        flex: 1;
        min-height: 26rem;
        padding: 17rem 5rem 0;
        font-size: 2.4rem;
        background-position: center top 4rem;
        background-size: auto 10rem;
    }

    /* msazure */
    .msazure-cont1>div {
        flex-direction: row;
        gap: 2rem;
    }

    .msazure-cont1>div>div {
        flex: 1;
        padding: 4rem;
    }

    .msazure-cont1 .box-tit {
        font-size: 3.4rem;
    }

    .msazure-cont1 .box-cont {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .msazure-cont2>div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .msazure-cont2>div>div {
        flex-basis: calc(50% - 2rem);
        padding: 3rem 4rem;
    }

    .msazure-cont2 .box-cont {
        min-height: 8rem;
        padding-left: 12rem;
        font-size: 2rem;
        background-size: 10rem auto;
    }

    .msazure-cont4>div {
        gap: 2rem;
    }

    .msazure-cont5 .box-cont {
        padding: 4rem 3rem
    }

    .msazure-cont6>div {
        flex-wrap: no-wrap;
        gap: 0 2rem;
    }

    .msazure-cont6>div>div {
        flex: 1;
        height: 26rem;
        padding: 14.6rem 0 2rem;
        font-size: 2.4rem;
        background-position: center top 3rem;
        background-size: 10rem 10rem;
    }

    .msazure-cont8 .box-cont {
        padding: 4rem 3rem;
    }

    /* powerPlatform */
    .powerPlatform-cont1>div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 4rem 4rem;
    }

    .powerPlatform-cont1>div>p {
        flex-basis: 100%;
        margin-bottom: 0;
        padding-top: 0;
        font-size: 3.2rem;
    }

    .powerPlatform-cont1>div>div {
        flex: 1;
        padding: 13rem 0 4rem;
        text-align: center;
        background-position: center top 4rem;
        background-size: 7rem;
    }

    .powerPlatform-cont1 .box-tit {
        margin-bottom: 2rem;
        font-size: 2.4rem;
        line-height: initial;
    }

    .powerPlatform-cont1 .box-cont {
        font-size: 2rem;
        line-height: initial;
    }

    .powerPlatform-cont2>div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .powerPlatform-cont2>div>div {
        flex-basis: calc(33.3% - 2rem);
        padding: 3rem 4rem 3rem 16rem;
        background-repeat: no-repeat;
        background-position: left 4rem center;
        background-size: 10rem auto;
    }

    .powerPlatform-cont2 .box-tit {
        margin-bottom: 1rem;
        font-size: 2.4rem;
    }

    .powerPlatform-cont2 .box-cont {
        font-size: 2rem;
    }

    .powerPlatform-cont3 {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .powerPlatform-cont3>div {
        flex: 1 1 calc(50% - 3rem);
    }

    .powerPlatform-cont3 .box-cont {
        padding: 4rem 3rem 5rem 16rem;
        background-position: left 4rem center;
        background-size: 8rem auto;
    }

    .powerPlatform-cont3>div:nth-of-type(1) .box-cont {
        background-size: 9.rem auto;
    }

    .powerPlatform-cont5>div {
        gap: 2rem;
    }

    .powerPlatform-cont5>div>div {
        display: flex;
        align-items: center;
        padding: 3rem 6rem;
    }

    .powerPlatform-cont5 .box-tit {
        position: relative;
        width: 34rem;
        margin-bottom: 0;
    }

    .powerPlatform-cont5 .box-tit::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1.9rem;
        height: 5rem;
        background: url(../img/business/bg_powerPlatform_cont5_tit.svg) no-repeat;
        background-size: 100%;
    }

    .powerPlatform-cont5 .box-cont {
        width: calc(100% - 34rem);
        padding-left: 5rem;
        font-size: 2rem;
    }
}