@charset "utf-8";

/* ==========================================
   기본 스타일 & 모바일 (Mobile)
   - 기준 해상도: 360px
   ========================================== */

/* 검색 결과 */
.title .search-input {
   display: flex;
   height: 6rem;
   border-bottom: 3px solid var(--primary);
}
.title .search-input input[type="text"] {
   width: calc(100% - 5rem);
   height: 100%;
   font-size: 2rem;
}
.title .search-input input[type="text"]::placeholder {
   color: #b5b7bd
}
.title .search-input input[type="button"] {
   width: 5rem;
   background: url(../img/common/icon_search2.svg) no-repeat center center;
}
.search-result-msg {
   margin-top: 3rem;
   font-size: 2rem;
   font-weight: 500;
}
.search-result-msg span {
   color: var(--text-point);
}


/* ==========================================
   태블릿 구간 (Tablet) - 768px 이상
   - 기준 해상도: 768px
   ========================================== */
@media (min-width: 1025px) and (max-width: 1366px) {}

/* ==========================================
   PC / 데스크톱 구간 (PC) - 1440px 이상
   - PC는 화면이 너무 커지므로 rem(또는 px) 고정값 사용
   ========================================== */
@media (min-width: 1440px) {
   
}